
/* common elements */
body {
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    padding-top: 100px;
}
/* end of common elements */
/* nav1 nav2 */
#nav-small {
    border-bottom: 1px solid lightgrey;
    background-color: #fff;
}

#nav-small .navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 35px;
}

#nav-small .navbar {
    min-height:35px !important;
}

#nav-small .courses::before {
    content: 'New';
    padding: 4px 8px;
    text-transform: uppercase;
    background-color: #00d7d2;
    border-radius: 5px;
    color: black;
    margin-right: 10px;
    font-size: 10px;
}
#nav-small a {
    font-weight: 500;
    font-size: 15px;
}

#nav-small a:hover {
    color: #777;
}

#nav-small .courses:hover,
#nav-standard a:hover{
    color: #0069ff;
}

#nav-standard {
    background-color: #fff;
    box-shadow: 0 8px 6px -6px #999;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
}

#nav-standard .navbar-nav > li > a, .navbar-brand {
    padding-top:25px !important; padding-bottom:25px !important;
    height: 65px;
}

#nav-standard .navbar {
    min-height:65px !important;

}

#nav-standard .navbar-brand svg {
    margin-left: 30px;
    margin-top: -6px;
    fill: #0069ff;
}

#nav-standard .nav.navbar-nav {
    margin-left: 25px;
}

#nav-standard a {
    color: black;
    font-weight: 500;
}

#nav-standard a.dropdown:after {
    display: inline-block;
    content: ' ';
    background-image: url('../img/down-chevron-iconsrepo-com.svg');
    background-size: 10px 10px;
    height: 10px;
    width: 10px;
}

#nav-small .nav.navbar-nav.navbar-left {
    margin-left: 30px;
}

#nav-small .nav.navbar-nav.navbar-right,
#nav-standard .nav.navbar-nav.navbar-right {
    margin-right: 30px;
}

a#signup {
    color: #0069ff;
    font-weight: 700;
    font-size: 14px;
}

#signup button {
    border: 1px solid #0069ff;
    background-color: #fff;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -5px;
}

#signup button:hover {
    background-color: #0069ff;
}

a#signup:hover {
    color: #fff;
}
/* end of nav1 nav2 */
/* header */
header {
    background-image: url(../img/bg-home-1-d54581d7.jpg);
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #0248ff;
}

.jumbotron {
    margin-bottom: 30px;
    color: #fff;
    background-color: transparent;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.jumbotron h1{
    font-size: 64px;
    font-weight: 900;
}

.jumbotron p {
    font-size: 26px;
    opacity: 0.8;
    font-weight: 400;
}

.login-form {
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border-radius: 5px;

}

header h2 {
     padding-bottom: 20px;
     font-weight: 600;
 }

#create {
    background-color: #0069ff;
}

.social-login svg {
    transform: translateY(3px);
    margin-right: 25px;

 }

button.social-login  {
     background-color: #f2f8ff;
     width: 47.5%;
     color: #031b4e;
     border: 1px solid rgba(0,105,255,.2);
     font-weight: 500;
}

button.social-login:hover{
    background: #d5e4f7;
    border: 1px solid rgba(0,105,255,.2);
}

/* Custom divider */
.divider-custom {
    /* margin: 1.25rem 0 1.5rem; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.divider-custom .divider-custom-line {
    width: 25%;
    height: 1px;
    background-color: #e5e8ed;
    transform: translateY(-3px);
    margin-left: 15px;
    margin-right: 15px;
}

.login-form p {
    color: #5b6987;
    font-size: 16px;
}

.login-form small {
    color: #5b6987;
}

.footer-form {
    padding-top: 15px;
    padding-bottom: 15px;
}

#formGroupInputLarge,
#exampleInputEmail1,
#exampleInputPassword1 {
    height: 48px;
    padding: 0 16px;
    border: 1px solid #f1f1f1;
    background: #fff;
    color: rgba(3,27,78,.7);
    -webkit-transition: all cubic-bezier(0.645, 0.045, 0.355, 1) .25s;
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1) .25s;
    border-radius: 5px;
    width: 100%;
    position: relative;
}
/* end of header */
/* Innovative section */
#innovative {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f3f5f9;
}

#innovative h2 {
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    opacity: .4;

}

#innovative li img {
    height: 100px;
    max-width: 155px;
    object-fit: contain;
    padding: 5px;
}

#innovative a {
    font-size: 16px;
}

.ArrowLink svg {
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 1em;
    line-height: 1;
    max-width: 100%;
    position: relative;
    top: 3px;
    width: 1em;
}
/* end of Innovative section */
/* Deploy section */
#deploy {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
}

#deploy h2 {
    font-size: 36px;
    letter-spacing: -.9px;
    color: #031b4e;
    font-weight: 500;
    line-height: 1.25;
}

#deploy p {
    font-size: 20px;
    margin-bottom: 64px !important;
    margin-top: 16px;
    color: rgba(3,27,78,.7);
}

#deploy-list li {
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 0;
    border-left: 2px solid #e5e8ed;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 18px;
    color: rgba(3,27,78,.5);
    font-weight: 400;
}

#deploy-list li:first-child {
    border-left: 2px solid #0069ff;
    color: #031b4e;
}

#deploy h3,
#designed h3 {
    font-size: 20px;
    font-weight: 500;
    color: #031b4e;
}

#deploy p,
#designed p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(3,27,78,.7);
}
/* end ofDeploy section */
/* Designed section */
#designed {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f3f5f9;
}

#myCarousel {
    padding-top: 30px;
    padding-bottom: 30px;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel-indicators .active {

    background-color: #0069ff;
}

.carousel-indicators li {
    border: 2px solid #0069ff;
}

.carousel-caption {
    position: static;
    padding-top: 40px;
}

#myCarousel .carousel-caption p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(3,27,78,.7);
    text-shadow: none;
    line-height: 2;
}
/* end of Designed section */
/* Business section */
#business {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
}

#service {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #031b4e url(../img/data-center-map-20321538.svg);
}

#service h2 {
    color: #fff;
}

/* end of Business section */
